@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

body {
  background-color: #383838;
  color: white;
}

.title {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.content {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Montserrat', sans-serif;
}

textarea {
  padding: 5px;
  margin-top:  10px;
  background-color: #4d4d4d;
  border-color: #1c1c1c;
  color: white;
  font-size: 14px;
}

#submitbtn {
  background-color: #1c1c1c;
  border: none;
  color: white;
  font-size: 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#submitbtn:hover {
  background-color: #2e2e2e;
}

#submitbtn:active {
  background-color: #141414;
}

.instruction {
  font-weight: bold;
}

.errorarea {
  color: red;
}

.hiddenarea {
  display: none;
}

